<!DOCTYPE html>
<html>
    <head>
        <title>LogIn</title>
    </head>
    <body>
            <center>
                    <p>logIn</p>
                    <section>
                        <form>
                            <input type="text" name="userId" ng-model="userId" />
                            <input type="password" name="password" ng-model="password" />
                            <button type="submit" ng-click="login()" >Login</button>
                            <a href="#!signUp">signUp</a>
                        </form>
                    </section>
                </center>
    </body>
</html>